
<div class="responsive-container-block bigContainer">
    <h1 class="text-center">About <span> Us </span></h1>
    <div class="responsive-container-block Container">
      <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eaboutus1.svg">
      <div class="allText aboveText">
        <p class="text-blk headingText">
          Our Mission
        </p>
        <p class="text-blk subHeadingText">
          Our mission is to provide a range of easy to use business applications that form a complete suite of tools to accompany any business need.
        </p>
        <p class="text-blk description">An employee management system, also known as EMS, is software designed to assist the HR department in managing and monitoring employee-related tasks and information.
        </p>
          
      </div>
    </div>