

  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
    <a class="navbar-brand logo">
      <img src="assets/Images/logob2.png" alt="Company Logo" height="30">
      Emplify EMS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" [routerLinkActive]="'active'">Home</a>
        </li>
        <li *ngIf="loggedUserObj?loggedUserObj.admin:false" class="nav-item">
          <a class="nav-link" routerLink="employee"[routerLinkActive]="'active'">Dashboard</a>
        </li>
        <li *ngIf="loggedUserObj?loggedUserObj.admin:false" class="nav-item">
          <a class="nav-link" routerLink="approval" [routerLinkActive]="'active'">Approvals</a>
        </li>
        <li *ngIf="loggedUserObj" class="nav-item">
          <a *ngIf="!(loggedUserObj?loggedUserObj.admin:false)" class="nav-link" routerLink="leave" [routerLinkActive]="'active'">Dashboard</a>
        </li>
        <li *ngIf="!(loggedUserObj?loggedUserObj.admin:false)" class="nav-item">
          <a  class="nav-link" routerLink="contactus" [routerLinkActive]="'active'">Contact Us</a>
        </li>
        <li *ngIf="!(loggedUserObj?loggedUserObj.admin:false)"class="nav-item">
          <a class="nav-link" routerLink="aboutus" [routerLinkActive]="'active'">About Us</a>
        </li>
        
        <li *ngIf="loggedUserObj" class="nav-item">
          <button class="btn btn-success" disabled>{{loggedUserObj.name}}</button>
        </li>
        <li *ngIf="loggedUserObj" class="nav-item">
          <button class="btn btn-danger" (click)="logOff()">Logout</button>
        </li>
        <li *ngIf="loggedUserObj==undefined" class="nav-item">
          <button class="btn btn-success" (click)="openLogin()">Login</button>
        </li>
        <li *ngIf="loggedUserObj==undefined" class="nav-item">
          <button class="btn btn-primary" (click)="openSignup()">Signup</button>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO/ufreqqF6MVu4JdG7PhIxZlW8sSJv43gkdSHlua9DmM/" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
<router-outlet/>


<footer>
 
  <div class="footer-info">
     &reg; &copy; 2024 My Company. All rights reserved.
  </div>
  <div class="footer-links">
    <a routerLink="aboutus">AboutUS</a>
    <a routerLink="contactus">Contact Us</a>
    <a routerLink="home">Home</a>
</div>
</footer>

