
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #83b8ee;
      padding: 2px;
    }
    .container {
      width: 500px;
      padding: 20px;
      background-color: white;
      border: 1px solid #ced4da;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 5px;
      border: 1px solid #ced4da; 
      display: inline-block;
    }
    
      
    .btn-success {
      background-color: #198754;
      border-color: #198754;
    }
    .btn-light {
      color: #0d6efd;
      background-color: #f8f9fa;
      border-color: #ced4da;
    }

